<ion-view view-title="Home">
  <ion-content>
  <form ng-submit = "runSearch(searchform)" name = "searchform">    
    <h1>US mainstream media attention on: </h1>
    <label class="item item-input">
  	<span class="input-label"> Keyword</span>
 	<input type="text" name="searchkeyword" ng-model = "search.keyword" required>
	</label>
	<button type = "submit">
    Search
	</button>
</form>
    <p ng-if="data.sentenceCount==null"><ion-spinner></ion-spinner></p>
    <p ng-if="data.sentenceCount!=null">There are {{data.sentenceCount | number}} results.</p>
<div>
	<tt>search = {{search}}</tt>
</div>

</ion-content>
</ion-view>